- name: app-setup
  include_role:
    name: common
    tasks_from: app-setup
  
- name: nodejs setup
  include_role: 
    name: common
    tasks_from: nodejs

- name: systemctl setup
  include_role:
    name: common
    tasks_from: systemctl

